# IBM Watsonx.ai Configuration
IBM_API_KEY=PKRrHz7WLnwlxLVboQIscZU7g6dwLzhu6uSv5bQJsczS


IBM_PROJECT_ID=1390fdca-e001-44ac-b50a-76d0548ca820
# Region where your Watsonx instance lives (au-syd | us-south | eu-de | jp-tok)
IBM_WATSONX_URL=https://au-syd.dai.cloud.ibm.com

IBM_REGION=au-syd

# Flask Configuration
FLASK_SECRET_KEY=your_secret_key_change_this_in_production
FLASK_DEBUG=False
FLASK_PORT=5000
